@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import 'variable.css';
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: var('--font-family-sans-serif');
}
.navbar{
  background-color: rgb(248, 255, 255,.9);
  position: fixed;
  z-index: 1000;
  border-radius: 50px;
  top: 8px;
  left: 0.5%;
  width: 97%;
  height: 70px;
  transition: top 0.3s;
  box-shadow: 1px;
  display: flex;
  padding: 5px 10px;
  align-items: center;

}
.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.navbar .logo{
  height: 50px;
  margin: 10px;
}
.navbar .title{
  font-family: 'Roboto';
  font-size: 25px;
  color: rgb(255, 9, 9);
  position: fixed;
  width: 97%;
  text-align: center;
}
.navbar ul a{
  font-family: 'Roboto';  gap: 10px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.navbar ul{
  display: flex;
  flex-direction: row;
  gap:15px;
  list-style: none;
}
.navbar .nav-text{
  display: flex;
  position: fixed;
  width: 94%;
  justify-content: end;

}
.content-1{
  width: 100%;
  height: 100vh;
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.gettyimages.com%2Fid%2F1428719730%2Fvideo%2Flibrary-books-and-bookshelf-for-reading-learning-or-knowledge-background-public-access.jpg%3Fs%3D640x640%26k%3D20%26c%3Dley35smAfLuy3JfBNycGmjTi8JtcNyKcbQ0Dtc7CObs%3D&f=1&nofb=1&ipt=a26749bae03a253ef8aeb903cb338d6b8664e11aaeaa1ae393585eaf5c365f6a');
  background-repeat: no-repeat;
  inset: 0;
  filter: blur(8px);
  transform: scale(1.2);
  background-size: cover;
  background-position:center;
  position: fixed;
  z-index: 0;
}
.typing{
  color: blue;
  size: 1rem;
  width: 11ch;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  z-index: 2;
  top: 45%;
  margin-left: 5%;
  border-right: 2px solid green;
  animation: typing 1s steps(11), blink 0.7s step-end infinite;
}
@keyframes typing{
  from{
    width: 0;
  }
  to{
    width: 11ch;
  }
}
@keyframes blink{
  50%{
    border-color: transparent;
  }
}
.card-con{
  position: relative;
  z-index: 1;
  top: 100vh;
  width: 100%;
  background-color: #FFF;
  height: 100vh;
}
