@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "variable.css";
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: var("--font-family-sans-serif");
}
.navbar {
  background-color: rgba(253, 255, 255, 1);
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 70px;
  transition: top 0.3s;
  box-shadow: 1px;
  display: flex;
  padding: 5px 10px;
  align-items: center;
  box-shadow:0px 0.5px 3px rgba(0,0,0);
  cursor: pointer;
}
.navbar .logo {
  height: 50px;
  margin: 10px;
}
.navbar .title {
  font-family: "Roboto";
  font-size: 25px;
  color: rgb(64, 50, 255);
  width: 10ch;
}
.navbar ul a {
  font-family: "Roboto";
  font-weight: 600;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.navbar .nav-text ul {
  display: flex;
  flex-direction: row;
  gap: 25px;
  list-style: none;
}
.nav-text a.active{
  color: blue;
}
.navbar .nav-text {
  display: flex;
  position: relative;
  width: 50%;
  justify-content: start;
}
.search_box{
  display: flex;
  height: 45px;
  background-color: rgb(0, 47, 255);
  border-radius: 15px;
  justify-items: center;
}
.search_box input{
  border: 0px;
  outline: none;
  background:transparent;
  padding: 8px 0;
}
.search_box input::placeholder{
  color:rgb(252, 252, 255);
  font-style: italic;
  font-size:1rem;
}
.menu{
  display:none
}
@media (max-width:767px){
  .navbar ul li a {
    display: none;
  }
  .search_box{
    display:none;
  }
  .menu{
    display: flex;
  }
}

@media (min-width:768px) and (max-width:1023px){
}

.section_1{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: rgb(255, 255, 255);
}
.section_1 h1,h2{
  font-size: calc(6vw + 1rem);
  color: grey;
  position: relative;
  left: 5%;
}
.typing{
  color: blue;
  width: 9ch;
  border-right:solid rgb(0, 0, 0) 3px;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 5s steps(9) infinite,blink 0.7s infinite;
}
@keyframes typing{
  0%{
    width: 0ch;
  }
  40%{
    width: 10ch;
  }
  80%{
    width:10ch;
  }
  100%{
    width: 0ch;
  }
}
@keyframes blink{
  50%{
    border-color: transparent;
  }
}
footer{
  background-color: rgb(59, 59, 255);
  height: 30vh;

}